* {
	box-sizing: border-box;
}

.App {
	text-align: center;
}

.app-title {
	margin: 4rem;
}

.app-container {
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
}

.app-nested-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}
